In [2]:
import csv
import pyodbc

In [209]:
def import_into_sql(filepath, tablename):
    path = filepath
    table_name = tablename
    
    # Set up connection
    conn = pyodbc.connect(r'DSN=adworksDSN;UID=python;PWD=password')
    cur = conn.cursor()
    f= open(path,encoding='utf-8')

    # Read in CSV File
    csv_data = csv.reader(f)
    headers_file = next(csv_data)
    x='?,'
    number_of_columns = '(' + x*(len(headers_file)-1) + '?)'

    # Create string containing column name and datatype
    column_plus_data = ''
    column_plus_data = '('
    for c in headers_file:
        if c != headers_file[len(headers_file)-1]:
            column_plus_data += '[' + c + ']'+ ' ' + 'varchar(1000)' + ","
        else:
            column_plus_data += '[' + c + ']' + ' ' + 'varchar(1000)' +")"

    # Create Table in SQL
    q = cur.execute('if object_id('+ "'"+table_name+"'" + ') is not null begin drop table ' + table_name +' end')
    cur.commit()
    
    create_table_query = 'CREATE TABLE ' + table_name  + ' ' + column_plus_data
    cur.execute(create_table_query)
    cur.commit()


    # Create column string for table creation and insertion
    column = ''
    column = '('
    for i in headers_file:
        if i != headers_file[len(headers_file)-1]:
            column += '[' + i + ']'+','
        else:
            column += '[' + i + ']'+')'

    # Insert data into SQL table
    for rows in csv_data:
        
        cur.execute('INSERT INTO ' + table_name + ' ' + column + 'VALUES ' + number_of_columns ,rows)
    cur.commit()
    return print('DATA IMPORTED INTO SQL - PLEASE CHECK')

In [210]:
import_into_sql(r'C:\Users\Student\Documents\Python Scripts\2016-12-metropolitan-street.csv','sql_import1')

DATA IMPORTED INTO SQL - PLEASE CHECK